.about {
    background: url('../images/bg.png') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.about__items {
    display: flex;
}

.about__item {
    text-align: center;
}

.about__icon--meet {
    background: url('../icons/meat.png') center center no-repeat;
    width: 97px;
    height: 89px;
}

.about__icon--hand {
    background: url('../icons/hand.png') center center no-repeat;
    width: 73px;
    height: 85px;
}

.about__icon--natural {
    background: url('../icons/natural.png') center center no-repeat;
    width: 88px;
    height: 75px;
}