/*.contacts {
    background: url('./../images/map.png') center center / cover no-repeat;
    justify-content: flex-end;
}*/

.map {
    width: 100%;
    height: 100%;
    position: relative;
  
    &__hint {
        color: #e45028;
        font-family: Gagalin-Regular;
        font-size: 14px;
        font-weight: 300;
      }
  }
  