.how-work {
    background: url('./../images/bg-how-work.png') center center / cover no-repeat;
}

.how__container {
    justify-content: center;
    align-items: center;

    @include tablets {
      max-width: rem(741px);
    }

    @include phones {
      max-width: rem(441px);
    }

    .title {
      font-family: 'Gagalin-Regular';
      font-size: rem(61px);
  
      @include tablets {
       font-size: rem(72px);
      }
  
      @include phones {
        font-size: rem(50px);
        line-height: rem(60px);
        padding: 0 rem(30px);
        text-align: center;
       }
    }
}

.video {
    margin-top: rem(50px);
    width: 95%;
    max-width: rem(660px);
    height: rem(370px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: #000;
  
    @include tablets {
      width: 100%;
      max-width: rem(720px);
      height: rem(407px);
    }
  
    @include phones {
      width: 100%;
      max-width: rem(460px);
      height: rem(254px);
    }
  
    &__display {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
    }
  
    &__controlls {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #3e3e3e;
      padding: rem(10px) rem(20px);
      display: flex;
      align-items: center;
  
      &-play {
        outline: transparent;
        &-play {
          display: block;
          fill: #626262;
          width: rem(16px);
          height: rem(22px);
          margin-right: rem(20px);
        }
  
        &-pause {
          display: none;
          fill: #626262;
          width: rem(16px);
          height: rem(22px);
          margin-right: rem(20px);
        }
      }
  
      &-bar {
        height: rem(4px);
        border-radius: 1px;
        background-color: #626262;
        cursor: pointer;
  
        &--progress {
          flex-grow: 5;
          margin-right: rem(20px);
        }
  
        &--volume {
          flex-grow: 1;
        }
      }
  
      &-circle {
        position: relative;
        width: rem(13px);
        height: rem(13px);
        background-color: #626262;
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
  
      &-volume {
        outline: transparent;
  
        &-img {
          fill: #626262;
          width: rem(18px);
          height: rem(22px);
          margin-right: rem(20px);
        }
  
        
      }
    }
  
    &__playbtn {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0.9;
      transform: translate(-50%, -50%);
      cursor: pointer;
  
      &-img {
        fill: #fff;
        width: rem(82px);
        height: rem(118px);
      }
    }
  }