.social__list {
    display: flex;
}

.social__item {
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(20px);
}

.social__icon {
    width: rem(20px);
    height: rem(20px);
    opacity: .3;

    &:hover {
        opacity: 1;
    }
}