.best {
    background: url('./../images/bg.png') center center / cover no-repeat;
}

.title__best {
    margin-bottom: rem(25px);

    @include phones {
        margin-bottom: rem(38px);
    }
}

.best__list {
    display: flex;
    
    @include phones {
        flex-direction: column;
    }
}

.best__item {
    flex: 1;
    margin-right: rem(35px);
    text-align: center;

    @include phones {
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin-bottom: rem(50px);
    }

    &:last-child {
        margin-right: 0;
    }
}

.best__picture {
    margin-bottom: rem(15px);

    @include phones {
        margin-right: rem(28px);
        margin-bottom: 0;
        width: 25%;
    }
}

.best__picture-icon {
    max-height: 100%;

    @include phones {
        
    }
}

.best__desc {
    @include phones {
        text-align: left;
        width: 75%;
    }
}

.best__title {
    font-size: rem(24px);
    margin-bottom: rem(20px);
    @include lifehack;
}

.best__text {
    @include ubuntu;
    font-weight: 300;
    font-size: rem(14px);
}

