.best {
    background: url('./../images/bg.png') center center / cover no-repeat;
}

.best__list {
    display: flex;
}

.best__item {
    flex: 1;
    margin-right: 35px;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}

.best__picture {
    margin-bottom: 34px;
}

.best__title {
    font-size: 24px;
    margin-bottom: 33px;
    @include lifehack;
}

.best__desc-text {
    @include ubuntu;
    font-weight: 300;
}

