.btn {
    padding: rem(10px) rem(14px);
    border-radius: rem(5px);
    margin-bottom: rem(8px);
    background: $red;
    text-transform: uppercase;
    color: #fff;
    font-size: rem(13px);
    @include ubuntu;

    &:hover {
        background-color: #c1401e;
        transition: background-color .3s;
    }
}

