.form__elem {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 17%;
    }

    @include phones {
        padding: 0;
    }
}

.title--order {
    margin-bottom: rem(40px);
}

.form__column {
    width: 50%;
    margin-right: rem(20px);

    @include tablets {
        width: 100%;
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
}

.form__block {
    flex: 1;
    margin-right: rem(20px);
    display: block;
    margin-bottom: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    &--margin-on-mobile {
        @include phones {
            margin-right: 0;
        }
    }

    &--hidden-on-mobile {
        @include phones {
            display: none;
        }
    }
}

.form__block-title {
    @include ubuntu;
    font-weight: 300;
    font-size: rem(14px);
    line-height: rem(24px);
}

.form__input {
    background: #fff;
    border-radius: rem(3px);
    outline: none;
    border: rem(2px) solid transparent;
    padding: rem(8px) rem(21px);
    width: 100%;

    &--textarea {
        resize: none;
        height: rem(109px);
    }

    &:focus {
        border-color: #f9b43b;
    }
}

.form__block-textarea {
    margin-right: 0;
    margin-bottom: rem(10px);
}

.form__buttons {
    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.form__radio-buttons {
    display: flex;
    margin-bottom: rem(20px);
}

.form__radio {
    display: flex;
    align-items: center;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }
}

.form__radio-button {
    -webkit-appearance: none;

    &:checked + .form__radio-fake:before {
        background-color: #e35028;
    }
}

.form__radio-fake {
    width: rem(15px);
    height: rem(15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: rem(10px);

    &:before {
    content: '';
    display: block;
    width: rem(7px);
    height: rem(7px);
    border-radius: 50%;
    }
}

.form__check {
    margin-bottom: rem(27px);
}

.form__call {
    display: flex;
    align-items: center;
}

.form__call-button {
    -webkit-appearance: none;

    &:checked + .form__call-fake:before {
        display: block;
    }
}

.form__call-fake {
    border: rem(1px);
    width: rem(15px);
    height: rem(15px);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: rem(10px);

    &:before {
    content: "";
    display: none;
    border: rem(3px) solid #e35028;
    width: rem(4px);
    height: rem(8px);
    border-top: transparent;
    border-left: transparent;
    transform: rotate(45deg);
    margin-bottom: rem(3px);
    }
}

.order__btn {
    margin-right: rem(20px);
}

.form__clear {
    @include ubuntu;
    font-weight: 300;
    font-size: rem(14px);
    line-height: rem(24px);
    padding: 0;
}