.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(25px);
}

.header__buttons {
    display: flex;
    align-items: center;
    @include ubuntu;
}

