.hero {
    background: url('../images/video-bg.png') center center / cover no-repeat;
    position: relative;
}

.hero__container {
    height: 100%;
}

.hero__content {
    display: flex;
    align-items: center;
    flex: .8;
    padding-bottom: 25px;
    padding-left: 16px;
}

.hero__desc {
    padding-top: 48px;
    margin-left: 13px;
}    

.hero__subtitle {
    font-size: 62px;
    color: #fff;
    line-height: 1;
    font-family: 'Lifehack-Medium';
}