.hero {
  background: url("../images/video-bg.png") center center/cover no-repeat;
  position: relative; }

.hero__container {
  height: 100%; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: .8;
  -ms-flex: .8;
  flex: .8;
  padding-bottom: rem(25px);
  padding-left: rem(16px); }

.hero__desc {
  padding-top: rem(48px);
  margin-left: rem(13px); }

.hero__subtitle {
  font-size: rem(62px);
  color: #fff;
  line-height: 1;
  font-family: 'Lifehack-Medium'; }
