.nav {
    margin-right: rem(17px);
    padding-bottom: rem(10px);

    &.active {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        z-index: 4;
        justify-content: center;
        background-color: rgba($gray,.99);
        

        .nav__list {
            flex-direction: column;
            text-align: center;
            font-size: rem(24px);
            font-weight: 400;
            line-height: rem(40px);
            padding: 25% 0;
        }

        .nav__item {
            flex-direction: column;
            margin-right: 0;

            &:after {
                margin-left: 0;
            }
        }

    }

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    display: flex;
    align-items: center;
    margin-right: rem(13px);

    &:after {
        content: "";
        width: rem(4px);
        height: rem(4px);
        background: #fff;
        border-radius: 50%;
        display: block;
        margin-left: rem(15px);
    }

    &:last-child {
        margin-right: 0;
        &:after {
            display: none;
        }
    }
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: rem(13px);
    text-transform: uppercase;

    &:hover {
        opacity: .8;
    }
}