.reviews__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    position: relative;

    @include tablets {
        width: 50%;
        height: 25%;
    }

    &:hover {
        .reviews__hover {
            opacity: 1;
        }
    }
}

.reviews__pic {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews__hover {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#444646, .5);
    padding: rem(45px) rem(19px) rem(19px);
    opacity: 0;
    filter: grayscale(100%);
    transition: opacity .3s;

    @include tablets {
        padding: rem(15px) rem(55px) rem(13px);
        text-align: center;
    }

    @include phones {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.reviews__title {
    @include gagalin;
    font-size: rem(14px);
    margin-bottom: rem(10px);

    @include phones {
        font-size: rem(24px);
    }
}

.reviews__text {
    @include ubuntu;
    font-weight: 300;
    font-size: rem(14px);
    line-height: rem(24px);
    margin-bottom: rem(13px);

    @include phones {
        display: none;
    }
}