.section {
  height: 100vh;
  min-height: rem(650px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  .section--non-centered {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
