.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__item {
  margin-right: rem(20px);
  width: rem(20px); }
