.title {
    font-size: 72px;
    color: $yellow;
    margin-bottom: 26px;
    line-height: 1;
    @include gagalin;


    &--color {
        &--black {
            color: $black;
        }

        &--white {
            color: $white;
        }
    }

    &--centered {
        text-align: center;
    }
}

