.title {
    font-size: rem(72px);
    color: $yellow;
    margin-bottom: rem(26px);
    line-height: 1;
    @include gagalin;

    @include phones {
        font-size: rem(63px);
    }


    &--color {
        &--black {
            color: $black;
        }

        &--white {
            color: $white;
        }
    }

    &--centered {
        text-align: center;
    }
}

